* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

body {
   font-family: Arial, sans-serif;
   background-color: #f8f8f8;
}

header {
   background-color: #007bff;
   color: white;
   text-align: center;
   padding: 20px;
}

nav {
   background-color: #0056b3;
   padding: 10px;
   text-align: center;
}

nav ul {
   list-style: none;
}

nav ul li {
   display: inline;
   margin: 0 15px;
}

nav ul li a {
   color: white;
   text-decoration: none;
}

.container {
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
 
.content {
   flex: 2;
   padding: 20px;
   background-color: #ECF0F1;
   border-radius: 10px;
}
 
.sidebar {
   flex: 1;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   margin-left: 20px;
}

footer {    
   height: 2px;
   background-color: #007bff;
   margin-top: 25px;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: #007bff;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   margin-top: 10px;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
   background-color: #0056b3;
   transform: scale(1.05);
}

.form-container {
   width: 100%;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #ffffff;
   text-align: left;
}

.form-container h1 {
   text-align: center;
   color: #007bff;
}

.form-container label {
   display: block;
   margin-top: 10px;
   font-weight: bold;
}

.form-container input[type="text"], 
.form-container input[type="email"], 
.form-container input[type="password"], 
.form-container select {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.form-container input[type="radio"], 
.form-container input[type="checkbox"] {
   margin-right: 10px;
}

.radio-group, .checkbox-group {
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
}

.radio-group label, 
.checkbox-group label {
   font-weight: normal;
   margin-right: 20px;
   margin-bottom: 10px;
}

.form-container button {
   display: block;
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   margin-top: 20px;
}

.form-container button:hover {
   background-color: #0056b3;
}

#thankYouMessage {
   display: none;
   text-align: center;
   color: green;
   font-size: 18px;
}
