body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFFFFF;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    border: 4px solid #800000;
}

h1 {
    text-align: center;
    color: #800000;
    margin-bottom: 20px;
}

.nim-section {
    text-align: center;
    margin-bottom: 20px;
}

.nim-section input {
    width: 96%;
    padding: 10px;
    border: 3px solid #120098;
    border-radius: 6px;
    outline: none;
}

#subjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subject {
    display: flex;
    gap: 10px;
}

.subject input {
    flex: 1;
    padding: 10px;
    border: 2px solid #002147;
    border-radius: 6px;
    outline: none;
}

.button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ips-section {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #800000;
    color: #FFD700;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    width: 45%;
    transition: background-color 0.3s ease;
}

.ips-section button {
    width: 100%;
    background-color:#120098;
}

button:hover {
    background-color: #120098;
}

.ips-section button:hover {
    background-color: #800000;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e3f2fd;
    border: 2px solid #002147;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

.error {
    color: #f44336;
}

@media screen and (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }
}
